<button id="{{button.button_id}}" type="button" class="btn btn-success" data-toggle="modal" data-target="#{{modal_id}}">nice button</button>
<div id="{{modal_id}}" class="modal fade" tabindex="-1" role="document" data-url="http://example.com">
  <div class="modal-dialog">
    <div class="modal-content">
      {% if True %}
        {% include 'django_bootstrap_swt/includes/ajax_loading_spinner.html' %}
        {% include 'django_bootstrap_swt/includes/ajax_error.html' %}
      {% endif %}
    </div>
  </div>
</div>