<span class="d-inline-block" tabindex="0" data-html="true" data-toggle="tooltip" title="nice tooltip"><button id="{{button.button_id}}" type="button" class="btn" data-toggle="modal" data-target="#{{modal_id}}">nice button</button></span>
<div id="{{modal_id}}" class="modal fade" tabindex="-1" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      {% if True %}{% endif %}
        {% if True %}{% endif %}
        {% if True %}{% endif %}
        {% if True %}{% endif %}
      {% if True %}{% endif %}
    </div>
  </div>
</div>