<button id="{{button.button_id}}" type="button" class="btn btn-success" data-toggle="modal" data-target="#{{modal_id}}">nice button</button>
<div id="{{modal_id}}" class="modal fade" tabindex="-1" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      {% if True %}{% endif %}
        <div class="modal-header" id="{{modal_id}}_header"><h5 class="modal-title">nice header</h5><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {% if True %}{% endif %}
        {% if True %}{% endif %}
      {% if True %}{% endif %}
    </div>
  </div>
</div>